@model TurboPack.Models.Turbo
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAll</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Randoms:</h2>
            <hr />
        </div>

    </div>

</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-1" style="padding-left:100px">
            <button type="button" class="btn btn-success" id="btnAdd" onclick="GetAll()">Agregar</button>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="Table" class="table table-hover" border="1">
                <thead>
                    <tr>
                      
                        <th class="text-center" scope="col">Foto</th>
                        <th class="text-center" scope="col">Nombre </th>
                        <th class="text-center" scope="col">Sexo</th>
                        <th class="text-center" scope="col"> Email</th>
                        <th class="text-center" scope="col"> Direccion</th>
                
                      
                    </tr>

                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>




<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/turbo.js"></script>            